<nav>
    <ul class="navbar">
        <li><a href="/" id="homeLink">YelpCamp</a></li>
        <i id="navIcon" class="fas fa-bars"></i>
        <div class="navLinks visibility">
            <% if(!currentUser){ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
            <% } else { %>
                <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </div>
    </ul>
</nav>

<script> 
    function toggleNavbar(e) {
        var navLinks = document.querySelector(".navLinks"); 
        navLinks.classList.toggle("visibility");
    }
    document.querySelector("#navIcon").addEventListener("click", toggleNavbar);
</script>