<% include partials/header %>

<h1>Create a New Campground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name" required>
    <input type="text" name="image" placeholder="image url" required>
    <button>Submit!</button>
</form>

<a href="/campgrounds">Go Back</a>
<% include partials/footer %>