<% include partials/header %>
<% include partials/navbar %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="Picture of <%= campground.name %>">

<p><%= campground.description %></p>

<% include partials/footer %>