<% include ../partials/header %>
<% include ../partials/navbar %>

<h1 id="newCampgroundHeader" class="header">Create a New Campground</h1>

<div class="campgroundForm">
    <form action="/campgrounds" method="POST">
        <input type="text" name="name" placeholder="name" required>
        <input type="text" name="image" placeholder="image url" required>
        <input type="text" name="description" placeholder="description" required>
        <button id="formSubmit">Submit!</button>
    </form>
    <div id="goBackDiv">
        <a class="linkButton" href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>