/* Mobile */

/* Navbar */
    nav a{
        color: #6c757d;
        text-decoration: none;
        font-size: 1.2em;
        font-family: 'Pacifico';
    }

    nav a:hover {
        color: #7c868f;
    }

    .navbar {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .navlinks li{
        justify-items: center;
    }

    .visibility {
        display: none;
    }

    #homeLink {
        margin-left: 20px;
    }
/* Navbar  */

h1 {
    text-shadow: .2px 4px 2px rgb(189, 183, 183);
    color: rgb(53, 52, 52);
    font-family: 'Open Sans';
}

p {
    font-family: 'Open Sans';
    font-size: .9rem;
}

.header a {
    text-decoration: none;
    font-family: 'Open Sans';
    color: #0069ed;
}

.header a:hover {
    text-decoration: underline;
    color: #0053ba;
}

.newCampgroundForm{
    width: 100%;
    margin: 0 auto;
}

.newCampgroundForm input {
    border: 1px solid grey;
    border-radius: 4px;
    align-content: center;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 4px;
    font-family: 'Open Sans';
}

#formSubmit {
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
}

#newCampgroundHeader {
    text-align: center;
}

#goBackDiv {
    padding-top: 10px;
}

#titleAndMoreInfo h4 {
    display: inline-block;
}

#moreInfoLink {
    float: right;
}

/* #goBackButton {
    text-decoration: none;
    color: #0069ed;
    font-family: 'Open Sans';
    font-size: .9em;
}

#goBackButton:hover{
    color: #0053ba;
    text-decoration: underline;
} */

.linkButton {
    text-decoration: none;
    color: #0069ed;
    font-family: 'Open Sans';
    font-size: .9em;
}

.linkButton:hover {
    color: #0053ba;
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open Sans';
}

.campground h4 {
        text-align: left;
        margin: 0;
        color: #6c757d;
    }

.campground img {
    width: 100%;
}

.heading {
    justify-self: left;
}

button {
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

img {
    border-radius: .3em;
    border: 1px solid #ddd;
    padding: 4px;
}

hr {
    margin-bottom: 22.4px;
    border-color: rgba(226, 226, 226, 0.5);
}

.image {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1px;
    border: 0;
}

.commentAuthor {
    margin-bottom: .2em; 
}
.commentText {
    margin-top: .2em;
}

.dateCreatedSpan {
    float: right;
}

/* Desktop */
@media screen and (min-width: 750px){
   .container {
        grid-template-columns: repeat(3, 1fr);
   }
   .heading {
       grid-column-start: 1;
       grid-column-end: 4;
   }
    .campground img{
        width: 100%;
    }
     .navbar li {
        display: inline-block;
        margin: 0 10px;
    }
    .navLinks {
        float: right;
    }
    #navIcon {
        display: none;
    }
    .visibility {
        display: block;
    }
    .newCampgroundForm{
    width: 30%;
    margin: 0 auto;
    }
    .image {
        grid-area: image;
        /* width: 100%; */
    }
    .header {
        grid-area: header;
    }
    .description {
        grid-area: description;
    }
    .addComment{
        grid-area: addComment;
        width: 100%;
    }
    #addCommentButton{
        padding: .5rem 1rem;
        font-size: .8rem;
        float: right;
    }
    .comment {
        grid-area: comment;
    }
    .grid-container{
        padding: 40px 10%;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-areas: 
            'sidebar image'
            'sidebar header'
            'sidebar description'
            'sidebar addComment'
            'sidebar comment';
    }
}