/* Mobile */

/* Navbar */
    nav a{
        color: #6c757d;
        text-decoration: none;
        font-size: 1.2em;
        font-family: 'Pacifico';
        margin-left: 20px;
    }

    nav a:hover {
        color: #7c868f;
    }

    .navbar {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .navlinks li{
        justify-items: center;
    }

    .visibility {
        display: none;
    }

    #navIcon {
        float: right;
        padding-top: 10px;
        margin-right: 20px;
    }
/* Navbar  */
.flash-error {
    width: 80%;
    background-color: rgba(250, 119, 119, 0.247);
    font-family: 'Open Sans';
    font-size: .8em;
    color: rgb(139, 42, 42);
    padding: 10px 20px;
    margin: 20px auto 0;
    font-weight: bold;
}

.flash-success {
    width: 80%;
    background-color: rgba(119, 250, 125, 0.247);
    font-family: 'Open Sans';
    font-size: .8em;
    color: rgb(51, 129, 43);
    padding: 10px 20px;
    margin: 20px auto 0;
    font-weight: bold;
}

h1 {
    text-shadow: .2px 4px 2px rgb(189, 183, 183);
    color: rgb(53, 52, 52);
    font-family: 'Open Sans';
}

p {
    font-family: 'Open Sans';
    font-size: .9rem;
}

.header a {
    text-decoration: none;
    font-family: 'Open Sans';
    color: #0069ed;
}

.header a:hover {
    text-decoration: underline;
    color: #0053ba;
}

.campgroundForm{
    width: 100%;
    margin: 0 auto;
}

.campgroundForm input {
    border: 1px solid grey;
    border-radius: 4px;
    align-content: center;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 4px;
    font-family: 'Open Sans';
}

#formSubmit {
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
}

#campgroundShowHeader {
    float: left;
}

#price {
    float: right;
}

#goBackDiv {
    padding-top: 10px;
}

#titleAndMoreInfo h4 {
    display: inline-block;
}

#moreInfoLink {
    float: right;
}

.linkButton {
    text-decoration: none;
    color: #0069ed;
    font-family: 'Open Sans';
    font-size: .9em;
}

.linkButton:hover {
    color: #0053ba;
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open Sans';
}

.campground h4 {
        text-align: left;
        margin: 0;
        color: #6c757d;
    }

.campground img {
    width: 100%;
}

.heading {
    justify-self: left;
}

button {
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

img {
    border-radius: .3em;
    border: 1px solid #ddd;
    padding: 4px;
}

hr {
    margin-bottom: 22.4px;
    border-color: rgba(226, 226, 226, 0.5);
}

.image {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1px;
    border: 0;
}

.commentAuthor {
    margin-bottom: .2em; 
}
.commentText {
    margin-top: .2em;
}

.dateCreatedSpan {
    float: right;
}

#addCommentButton{
        padding: .3rem 1rem;
        font-size: .8rem;
    }

#editCampgroundButton a{
    text-decoration: none;
    color: #ffffff;
}
#editCampgroundButton{
    padding: .3rem .1rem;
    font-size: .8rem;
    float: left;
    width: 100%;
    background-color: rgb(223, 163, 35);
    width: 50%;
}
#editCampgroundButton:hover {
    background-color: rgb(209, 144, 3);
}
.deleteButton{
    padding: .3rem .1rem;
    font-size: .8rem;
    background-color: rgb(223, 35, 35);
    float: left;
}
#deleteCampgroundButton{
    width: 50%;
}
#deleteCommentButton{
    width: 20%;
}
.deleteButton:hover {
    background-color: rgb(209, 3, 3);
}
#editCommentButton {
    padding: .3rem .1rem;
    font-size: .8rem;
    width: 20%;
    background-color: rgb(223, 163, 35);
    float: left;
}
#editCommentButton:hover {
    background-color: rgb(209, 144, 3);
}
#editCommentButton a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
}
.editAndDeleteComment {
    height: 1.5rem;
}
#formSubmit {
    padding: .3rem;
}

.header {
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 750px){
   .container {
        grid-template-columns: repeat(3, 1fr);
   }
   .heading {
       grid-column-start: 1;
       grid-column-end: 4;
   }
    .campground img{
        width: 100%;
    }
     .navbar li {
        display: inline-block;
        margin: 0 10px;
    }
    .navLinks {
        float: right;
    }
    #navIcon {
        display: none;
    }
    #editCampgroundButton{
        width: 10%;
        margin-right: .5rem;
    }
    #editCommentButton{
        margin-right: .5rem;
    }
    #deleteCampgroundButton{
        width: 10%;
    }
    #addCommentButton{
        float: right;
    }
    #editCommentButton{
        width: 10%;
    }
    #deleteCommentButton{
        margin-bottom: .4rem;
        display: block;
        width: 10%;
    }
    #campgroundShowHeader{
        float: left;
    }
    #price{
        float: right;
    }
    .visibility {
        display: block;
    }
    .campgroundForm{
    width: 30%;
    margin: 0 auto;
    }
    .image {
        grid-area: image;
        /* width: 100%; */
    }
    .header {
        grid-area: header;
        margin-bottom: 0;
    }
    .header h3 {
        display: inline-block;
        margin-bottom: 0;
    }
    .description {
        grid-area: description;
    }
    .addComment{
        grid-area: addComment;
        width: 100%;
    }
    .comment {
        grid-area: comment;
    }
    .campgroundAuthor {
        grid-area: author;
        margin-top: 0;
        font-style: italic;
        font-size: .7em;
        color: rgb(151, 148, 148);
    }
    .campgroundAuthor a{
        text-decoration: none;
        color: #0069ed;
    }
    .campgroundAuthor a:hover {
        text-decoration: underline;
        color: #0053ba;
    }
    .editAndDeleteCampground {
        grid-area: editAndDeleteCampground;
    }
    .grid-container{
        padding: 40px 10%;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-areas: 
            'sidebar image'
            'sidebar header'
            'sidebar author'
            'sidebar editAndDeleteCampground'
            'sidebar description'
            'sidebar addComment'
            'sidebar comment';
    }
}