body {
    background-color: #000;
}

h1 {
    margin-top: 0;
    color: rgb(238, 218, 218);
    font-family: 'Open Sans';
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 40vh auto;
    width: 70vw;
    color: #FFF;
}

button {
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(https://lh3.googleusercontent.com/hFP6xaxerWujnfJvvgLZPWxA-uUHLgPttzBrDdol0hynPdr2uQdkMqus4l5ejwa09VDW2w5PGFsiKrPDqizCE5DfVVsMTuAId3ePIWPE7NH6Y7N-Esrr9IqQYeq_HrClh42PAd-39Q=w2400)
}
.slideshow li:nth-child(2) {
    background-image: url(https://lh3.googleusercontent.com/Nn-_vV_b5rodsy7CnzIesayBsUGDHzq8pgJcECq0Tb1Slu661O5pwXGobK0B3eT6yRK3RDCcqu_y29iiQkt11qHTPmcYtSyZZfYfQn_2qthiDq6G2GeJqpZFtZD9e_jHeRbXGjBDMA=w2400);
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url(https://lh3.googleusercontent.com/_dFnT5PZl9wAO1kAjs8vBSXLuEhc1BrrXsG0S6lpEWNBdrjtuJoejx7qur7Md7jOUXIkGlYJtLN-jcOFi39kERLiqFpYq_EX3slR3NITs4JMWoIg5WDMdnOB3wivAJR_Nj7vou92Qw=w2400);
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
    background-image: url(https://lh3.googleusercontent.com/6QvXGOt2cTlKdgpyeacF-o5EBeKI33QJGbhOMI-f2q_RmAQkQVH6oIyfRuG0_qvPzOgwdzwl5191km_orh3u6T5yYEDeLdJaK20Vsi-1bV7T8IfuLXBMu6mSK31JBGNDhRzRy1f8MA=w2400);
    animation-delay: 30s;
}
.slideshow li:nth-child(5) {
    background-image: url(https://lh3.googleusercontent.com/Oexdf_z85EA5jiNLU09VnOXhOtBaPYcMnIhzopjMmTiSkicqTgiAAP_7xwcEJjYbhAosEdMZfP9VigZZ-m7o6MaTeNJrAb8xXX0fwEFBkNkFwpo-aNHU6fTm-5z3V91snegHEh7LIg=w2400);
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}